    h1 {
        color: rgb(190, 106, 106)
    }
    
    #xd {
        width: 40%;
    }
    
    body {
        background-color: #ffffff !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    
    .form-group {
        color: rgb(0, 0, 0);
    }
    
    label {
        color: black;
    }